DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /argenta/corespare/

  RewriteCond %{THE_REQUEST} \s/+argenta/corespare/index\.html[?\s] [NC]
  RewriteRule ^index\.html$ ./ [R=301,L]

  RewriteCond %{THE_REQUEST} \s/+argenta/corespare/([^.]+)\.html[?\s] [NC]
  RewriteRule ^([^.]+)\.html$ $1/ [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^([^.]+)/?$ $1.html [L]
</IfModule>
